.ThemeButton {
  font-size: 15px;
  line-height: 18px;
  letter-spacing: -0.3px;
  font-weight: 900;
  vertical-align: middle;
  color: #f9ba05;
  padding: 15px;
  position: relative;
  transition: all .2s ease;
  border-color: transparent;
  border-radius: 25px;

  & span {
    text-transform: uppercase;
  }

  &:hover {
    &:active {
      transform: scale(.96);
    }

    &:focus {
      outline: none;
    }
  }

  &--light {
    background: black;

    span {
      color: white;
    }
  }

  &--dark {
    background: white;

    span {
      color: black;
    }
  }
}
